header {
    background-color: #ffffff;
    width: 960px;
    height: 30px;

}

h1 {
    color: white;
    background-color: #4aaaa5;
    width: 200px;
    text-align: center;
    height: 30px;
    padding: 30px;
}

nav {
    color: #777777;
    float: right;
}